<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>Productos Test</h1>
            

            <table class="table">

                <thead>
                    <tr>
                        <th scope="col">Nombre del producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Imagen</th>
                    </tr>
                </thead>

                <tbody>
                    <% dbProducts.forEach((prod)=> { %>
                        <tr>

                            <td><%= prod.name %></td>
                            <td>$<%= prod.price %></td>
                            <td><img style="width: 100px" alt="Imagen del producto" src=<%- prod.urlImg %>></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>